/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

* {
  margin: 0;
  padding: 0;
  font-family: Nunito;
}

html,
body {
  height: 100%;
}

header {
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  min-width: 600px;
}

h1 {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-right: 20px;
  color: rgb(42, 171, 226);
  white-space: nowrap;
  font-weight: 900;
}

article {
  margin-left: 150px;
  margin-top: 100px;
  height: 1000px;
  width: 60vw;
  min-width: 900px;
}

aside {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 40px;
}
.header-links {
  display: flex;
  justify-content: space-evenly;
  color: white;
  width: 400px;
  white-space: nowrap;
}

button {
  position: fixed;
  bottom: 5px;
  right: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(42, 171, 226);
  border: 4px solid black;
  font-size: large;
}

h2 {
  margin-bottom: 20px;
}

.main-aside-container {
  display: flex;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 200px;
  box-shadow: 1px 1px 40px 1px rgba(102, 75, 75, 0.3);
}

.main-circ {
  border: 5px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.body {
  position: relative;
  left: 15px;
  top: 10px;
  border: 5px solid black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: rgb(42, 171, 226);
  z-index: -1;
}

.head {
  position: relative;
  left: 30px;
  top: 15px;
  border: 5px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgb(42, 171, 226);
  z-index: -1;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-top: 30px;
  width: 250px;
  height: 300px;
  box-shadow: 1px 1px 40px 1px rgba(102, 75, 75, 0.3);
}

ol {
  font-size: 13px;
}

li {
  margin-top: 7px;
  margin-left: 0px;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

H3 {
  font-weight: 900;
}
h4 {
  margin-bottom: 10px;
}

#view-larger {
  color: rgb(42, 171, 226);
  font-size: small;
  align-self: flex-end;
}

.image-container {
  width: 700px;
  align-self: center;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 130px;
  background-color: rgb(53, 53, 53);
}

.img-row1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.img-row2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(42, 171, 226);
}

#learn {
  margin-left: 20px;
  font-size: 13px;
}
